*{margin: 0%;}

body{
    background-color: #aeaeae;
}

header{
    background-color: #2f2f2f;
    height: 100px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60%;
    margin-left: 65px;
    color: aliceblue;
}

nav{
    width: 30%;
    margin-right: 65px;
    color: aliceblue;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 20px;
}

b{
    font-size: 30px;
    
}
.perfilInicio{
    height: 700px;
    border: solid 2px rgb(0, 255, 128);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.perfilFoto{
    height: 400px;
    border: solid 2px rgb(0, 255, 128);
    width: 30%;
}
.perfilInformacoes{
    height: 400px;
    border: solid 2px rgb(0, 255, 128);
    width: 60%;

}